extends layout

block content
  head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  title Lexical Analysis
  body
    h1 Lexical Analysis
    .btn-group(role='group', aria-label='...')
          a.btn(href='tdop.html')
            button(type='submit')  Top Down Operator Precedence tutorial
          a.btn(href='https://github.com/alu0100774665/P_ADPR')
            button(type='submit')  Repo at GitHub
          a.btn(href='test/index.html')
            button(type='submit')  Tests
    h2 Input
    p
      Fill the input box with javascript code:
    textarea#INPUT(rows='15', cols='40', placeholder='Introduzca el texto o arrastre el archivo que desea analizar.')
    pre#OUTPUT.
    p
      input#files(type='file')
    div()
      button#input2(type='button', onclick="dump('/examples/input1.txt');") Example 1
      button#input(type='button', onclick="dump('/examples/input2.txt');") Example 2
      button#input(type='button', onclick="dump('/examples/input3.txt');") Example 3
      button#hello(type='button', onclick="dump('/examples/err.txt');") Example err

    input#PARSE.mylink(value='parse', type='button')
    script(type='text/javascript').
          function dump(fileName) {
          $.get(fileName, function (data) {
          $("#INPUT").val(data);
          });
          };
          document.getElementById('files').addEventListener('change', CopyMe, false);
          function CopyMe(evt) {
          var file = evt.target.files[0];
          if (file) {
          var reader = new FileReader();
          reader.onload = function(e) {
          INPUT.innerHTML = e.target.result;
          }
          var c = reader.readAsText(file);
          }
          else { alert("Failed to load file"); }
          }

    pre#OUTPUT

    script(type='text/coffeescript' src='coffeescripts/main.coffee')
